<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--
  configSections needs to be the first entry in configuration.
  the section group name is nothing but the group mentioned in the same web.config under <HttpModuleDemoGroup>
  the type has to be fully qualified name. 
  Check http://msdn.microsoft.com/en-us/library/System.Configuration.SectionInformation_properties(v=vs.110).aspx
  to read on allowDefinition and allowLocation
  -->
  <configSections>
    <sectionGroup name="HttpModuleDemoGroup">
      <section name="HttpModuleDemo" type="HttpModuleDemo.HttpModuleDemoSection" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <!--
  Registring our custom modules and handlers here
  **Note** that the custom handlers has a custom path, so any system which access this application url with that path
  will trigger our http handler. For in this case - http://localhost:61356/demo.demoHttpHandler
  -->
  <system.webServer>
    <modules>
      <add name="CustomDemoModule" type="HttpModuleDemo.CustomDemoModule"/>
    </modules>
    <handlers>
      <add name="demoHttpHandler" path="demo.demoHttpHandler" verb="*" type="HttpModuleDemo.DemoHttpHandler"/>
    </handlers>
  </system.webServer>
  
  
  <!--
  The group is a convention suggested by microsoft so that you can have multiple entries
  HttpModuleDemo is referring to the class HttpModuleDemoSection class with is inheriting from ConfigurationSection
  the beginText is a ConfigurationProperty inside this class which is of type BeginTextElement which inherits from ConfigurationElement
  -->
  <HttpModuleDemoGroup>
    <HttpModuleDemo>
      <beginText text="Beginning of Request - msg from web.config"></beginText>
      <endText text="End Request -"></endText>
    </HttpModuleDemo>  
  </HttpModuleDemoGroup>
  
  
  
</configuration>
